.container {
    /* background-color: pink; */
    margin-bottom: 10px;
}

.box {
    background-color: #006cfa;
    font-size: 1em;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    height: 40px;

    display: flex;
    align-items: center;
    
}
/* 
.row {
    background-color: green;  
} */

.nested-box {
    background-color: lightgreen;
    color: white;
    border: 1px solid white;
    height: 20px;
    margin: 1px;

    display: flex;
    justify-content: center;
}
